body {
    background-image: url("images/bg.jpg");
    /*background-color: black;*/
    backdrop-filter: hue-rotate(200deg) blur(3px);
    background-repeat: repeat-y;
    background-size: auto;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Arial";
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #8705f1;
    background-color: rgba(51, 8, 86, 0.5);
}
::-webkit-scrollbar-thumb {
    background: rgba(144, 29, 252, 0.71);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(38, 11, 121, 0.38);
}

a {
    text-decoration: none;
    color: white;
    margin: 1px;
}
.div-nav {
    background-color: rgba(133,83,187,0.51);
    width: 100%;
    height: 5vw;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 99999;
}
ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 5vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 5vw;
    margin: auto;
    padding: 0;
    align-items: center;
}
li {
    margin-top: auto;
    margin-bottom: auto;
    transition: ease-in;
    transition-duration: 0.2s;
}

a:hover {
    color: rgba(211, 176, 255, 0.85);
}
li:hover {
    transform: translateY(-4px);
}

.login-button{
    margin: 0 !important;
}

.login-ul {
    background-color: rgba(133,83,187,0.51);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80px;
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.cards {
    background-color: rgba(133,83,187,0.51);
    margin: 20px;
    width: 20vw;
    height: 24vw;
    border-radius: 20px;
    display: flex;
    transition-duration: 0.2s;
}

.cards:hover {
    transform: translateY(-3px);
}

.cards .cards-product {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    background-color: rgba(255, 255, 255, 0.69);
    width: 17vw;
    height: 21vw;
    border-radius: 20px;
    margin: auto;
}

.cards .cards-product .card-description {
    display: flex;
    position: relative;
    background-color: white;
    width: 17vw;
    height: 4vw;
    border-radius: 0 0 20px 20px;
    color: black;
}

span {
    margin: auto;
    font-size: 20px;
    transition-duration: 0.5s;
}

span:hover {
    transform: translateY(-5px);
}

.description-button {
    background-color: rgba(183, 0, 255, 0.56);
    padding: 10px;
    border-radius: 20px;
    transition-duration: 0.5s;
}
.description-button:hover {
    color: black;
}

.logo {
    cursor: pointer;
    width: 70px;
}

.sign-up-div {
    background-color: rgba(133,83,187,0.51);
    margin: auto;
    width: 25vw;
    height: 29vw;
    border-radius: 20px;
    display: flex;
}

.sign-up-div .sign-up-div2 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.69);
    width: 22vw;
    height: 26vw;
    border-radius: 20px;
    margin: auto;
}

input {
    margin: 2px 0 2px 0;
    border-radius: 20px;
    width: 200px;
    border: 2px rgba(133,83,187,0.51) solid;
    transition: 1s;
}

input:hover {
    border: 2px rgba(5, 186, 241, 0.8) solid;
    width: 230px;
    cursor: pointer;
}

.button-log-reg:hover {
    border: 2px rgba(5, 186, 241, 0.8) solid;
    width: 200px;
    cursor: pointer;
}

.button-log-reg {
    margin: 2px 0 2px 0;
    border-radius: 20px;
    width: 100px;
    border: 2px rgba(133,83,187,0.51);
    transition: 1s;
}

p {
    color: black;
    font-weight: bold;
}

.index-h1 {

}

.register-button {
    width: 200px;
    font-size: 20px;
    background-color: transparent;
    border: transparent none;
    color: white;
}

.register-button:hover {
    cursor: pointer;
    color: #05d4f1;
}

.dropdown {
    padding-right: 20px;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.dropdown-content a:hover {
    background-color: rgba(51, 8, 86, 0.5);
}
.dropdown:hover .dropdown-content {
    display: block;
}